<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org/xsd/thymeleaf-3.0.xsd">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <h1> Клиент</h1>
    <hr>
    <p th:text="${client.getClientid}"></p>
    <p th:text="${client.getClientName}"></p>
    <p th:text="${client.getType}"></p>
    <p th:text="${client.getAdded}"></p>
    <br>
    <a th:href="@{/clients}">Все клиенты</a></td>


</div>
</body>
</html>